
<footer id="myFooter" style="left: 0; bottom: 0;">
	<div class="container">
		<div class="row">
				<div class="myCols">
					<a href="/">Home</a><span class="divider">&nbsp;&nbsp;|&nbsp;</span>
					<a href="/startup">Startups</a><span class="divider">&nbsp;&nbsp;|&nbsp;</span>
					<a href="/about">About Us</a><span class="divider">&nbsp;&nbsp;|&nbsp;</span>
					<a href="/help">Help</a>
				</div>
				<p>Copyright © 2018 • All rights reserved.</p>
		</div>
	</div>
</footer>
<script>
	var loadFile = function(event) {
		var output = document.getElementById('output');
		output.src = URL.createObjectURL(event.target.files[0]);
	};

</script>
<script src="\stylesheets\js\jquery-3.2.1.min.js"></script>
<script src="\stylesheets\bootstrap-3.3.7-dist\js\bootstrap.min.js"></script>
</body>
</html>