<% include partials/header%>
<div class="container hlpctnr ctrsad">
	<div class="row" id="aboutus" align="center">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="panel panel-default pd1">
				<div class="panel-heading">
					<h2><strong>About Us</strong></h2>
				</div>
				<div class="panel-body">
					<p>						
						With the rise of business through online media today, many websites or technology-based companies are emerging, which became known as startup. Startup is a newly built company and is in the stage of development and research to find the right markets. Self-startup changes the face of business and technology today.
					</p>
					<p>
						The development of startup in Indonesia can be said quite rapidly happy. Every year, even every month, many startup founders (owners) of new startup are popping up. According to dailysocial.net, currently there are at least more than 1500 local startups in Indonesia. 
					</p>
					<p>
						A total of 9 out of 10 startup failed. Why does startup fail? Actually there are many factors that cause this, one of them is the lack of capital and lack of investors. That is why we choose to create a Starvest website.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<% include partials/footer%>